Package: com.sushibta.cleanta
Name: CleanTA
Version: 0.2.0
Architecture: iphoneos-arm64
Description: Đóng ứng dụng đang chạy từ màn hình CarPlay. iOS 15-16 rootless.
Maintainer: sushibta
Author: sushibta
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate
